$primaryFont: 'Rubik', sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$heavy: 800;
$black: 900;
$primaryMainColor: #EA5A43;
$TextGrayColor: #6B6B6B;
$greyLightColor: #FCFCFC;
$priceColor: #171716;
$secondaryMainColor: #1A90D2;
$blueSecondaryLightColor: #A8D5EE;
$bgPrimaryColor: #FAFAFA;
$greyRegularColor: #8E8E8E;
$greyColor: #ABABAB;
$greyMediumColor: #C9C9C9;
$greySemiBoldColor: #E9E9E9;
$greyBoldColor: #F5F5F5;
$SuccessMainLightColor: #A8EEC4;
$SuccessMainLighterColor: #EDFDF3;
$successMainDarkColor: #00966D;
$bgTertiaryColor: #EC9915;
$borderColor: #E7E5EA;
$primaryColor: #22272E;